body {
    margin: 0;
    text-align: center;
    background-color: rgb(255, 151, 151);
}

#div1 {
    height: 40vh;
    padding: 10vh;
    background-color: rgb(13, 171, 177);
}

ul {
    max-width: 40ch;
}

#div2{
    margin: 0%;
    height: 40vh;
    background-color: rgb(152, 153, 153);  
}